<ion-view title="Intro" hide-nav-bar="true" id="page10" style="background-color:#CFDFF3;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 200px;"></div>
        <div>
            <img src="img/fuQzBgMTUqZahZjuSp0D_login-logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>