<ion-view title="MyRA Login" hide-nav-bar="true" id="page8" style="background-color:#CFDFF3;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 110px;"></div>
        <form novalidate name="loginForm" ng-submit="login(loginForm)" id="myRALogin-form1" class="list">
            <div>
                <img src="img/fuQzBgMTUqZahZjuSp0D_login-logo.png" style="display: block; width: auto; height: 60px; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <div class="card padding"  id="myRALogin-list8">
                <label class="item item-input item-stacked-label" id="myRALogin-input1">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" placeholder="Email" ng-model="data.email_address" required>
                </label>
                <label class="item item-input item-stacked-label" id="myRALogin-input2">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" placeholder="Password" ng-model="data.password" required>
                </label>
                <label class="item item-input item-stacked-label" id="myRALogin-input3">
                    <span class="input-label">URL</span>
                    <input type="url" name="url" ng-model="data.url" placeholder="https://www.myra.work/" required>
                </label>
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <button id="myrabtn" class="button button-positive button-block">Log In</button>
        </form>
    </ion-content>
</ion-view>