<ion-view title="{{ applicantdata.applicant_name }}" id="page7">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-stable icon ion-loop" ng-click="refresher()"></button>
        <button class="button button-stable icon ion-android-menu" ui-sref="userprofile"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div>
            <div style="float:right">
                <div ng-if="applicantdata.picture != ''"><img ng-src="{{ ((applicantdata.image_path) ? applicantdata.image_path:directory) }}/{{ applicantdata.year }}/{{ applicantdata.id }}/{{ applicantdata.picture }}" style="width:90px; height:auto; border-radius: 100%; border: 3px #6997F2 solid"></div>
                <div ng-if="applicantdata.picture == ''">
                    <img ng-src="https://www.myra.work/img/male.png" style="width:90px; height:auto; border-radius: 100%; border: 3px #6997F2 solid" ng-if="applicantdata.gender == 'Male'">
                    <img ng-src="https://www.myra.work/img/female.png" style="width:90px; height:auto; border-radius: 100%; border: 3px #6997F2 solid" ng-if="applicantdata.gender == 'Female'">
                </div>
            </div>
            <div style="float:left; min-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                <h4>{{ applicantdata.applicant_name }}</h4>
                <p>{{ applicantdata.position_applied[0].position }}</p>
            </div>
            <div class="row">
                <div class="col text-left">
                    <button style="height: 45px; width: 45px;border-radius: 50%;border: 3px solid #6997F2; text-align:center; background:#fff" ng-click="takePhoto(applicant_id)">
                    <i class="ion ion-person" style="font-size:30px"></i>
                    </button>
                    <button style="height: 45px; width: 45px;border-radius: 50%;border: 3px solid #6997F2; text-align:center; background:#fff" ng-click="takeWBPhoto(applicant_id)">
                    <i class="ion ion-man" style="font-size:30px"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <h4 style="color:#000000;">Personal Information</h4>
        <div style="paddin:10px 0px">
            <label style="font-weight:bold">Date Applied</label>
            <p>{{ applicantdata.apply_date }}</p>
        </div>
        <div style="paddin:10px 0px">
            <label style="font-weight:bold">Email Address</label>
            <p>{{ applicantdata.email }}</p>
        </div>
        <div style="paddin:10px 0px">
            <label style="font-weight:bold">Mobile Number</label>
            <p>{{ applicantdata.mobile_main }}</p>
        </div>
        <div style="paddin:10px 0px">
            <label style="font-weight:bold">Birthdate</label>
            <p>{{ applicantdata.birthdate }}</p>
        </div>
        <div style="paddin:10px 0px">
            <label style="font-weight:bold">Address</label>
            <p>{{ applicantdata.address_pres }} {{ applicantdata.city_pres }} {{ applicantdata.country_pres.name }} {{ applicantdata.postal_pres }}</p>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <h4 id="juanDelaCruz-heading4" style="color:#000000;" ng-if="applicantdata.fullbody_picture != ''">Whole Body Photo</h4>
        <div id="juanDelaCruz-markdown5" class="show-list-numbers-and-dots">
            <p style="color:#000000;">
                <img ng-src="{{ ((applicantdata.image_path) ? applicantdata.image_path:directory) }}/{{ applicantdata.year }}/{{ applicantdata.id }}/{{ applicantdata.fullbody_picture }}" alt="" style="width:100%" ng-if="applicantdata.fullbody_picture != ''">
            </p>
        </div>
    </ion-content>
</ion-view>