<ion-view hide-back-button="true" title="Search Applicant" cache-view="true" id="page9" style="background-color:#CFDFF3;">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-stable icon ion-android-menu" ui-sref="userprofile"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="searchApplicant-form2" class="list">
            <div style="text-align:center">
                <button id="searchApplicant-button3" class="button button-positive button-small ic-selected" data-componentid="button3" ng-click="appname()" ng-class="{'active': searchtype == 'app_name'}">Applicant Name</button>
                <button id="searchApplicant-button3" class="button button-positive button-small ic-selected" data-componentid="button3" ng-click="appnumber()" ng-class="{'active': searchtype == 'app_number'}">Applicant Number</button>
            </div>
            <div class="spacer" style="width: 300px; height: 14px;"></div>
            <label class="item item-input" id="searchApplicant-search1">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="data.query" placeholder="{{ placeholder }}">
            </label>
            <div class="spacer" style="width: 300px; height: 5px;"></div>
            <div class="row">
                <div class="col-50" style="text-align:center">
                    <button class="button button-positive" ng-click="search()" style="width:95%">Search</button>
                </div>
                <div class="col-50" style="text-align:center">
                    <button class="button button-positive" ng-click="searchfield()" style="width:95%">Clear Search</button>
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 5px;"></div>
            <ion-item id="searchApplicant-list-item4" ng-repeat="applicant in applicants | limitTo:numberOfItemsToDisplay" style="padding: 5px 0px; height: 100px;">
                <div class="row">
                    <div class="col col-70" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ui-sref="profile({ id:applicant.id })">
                        <h2>{{ applicant.fname }} {{ applicant.lname }}</h2>
                        <p>{{ applicant.position_applied[0].position }}</p>
                        <p>Applied on : {{ applicant.apply_date }}</p>
                    </div>
                    <div class="col col-30 text-right" style="font-size:30px;margin-top: 6px;">
                        <div style="float:right">
                            <button style="height: 55px; width: 55px;border-radius: 50%;border: 3px solid #6997F2; text-align:center; background:#fff" href="#" ng-click="takeWBPhoto( applicant.id)" ng-if="applicant.fullbody_picture == ''"><i class="icon ion-man" style="font-size:30px"></i></button>
                            <img ng-src="{{ ((applicant.image_path) ? applicant.image_path:directory) }}/{{ applicant.year }}/{{ applicant.id }}/{{ applicant.fullbody_picture }}" ng-click="takeWBPhoto({{ applicant.id }})" ng-if="applicant.fullbody_picture != ''" style="width: 55px; height: 55px; border-radius: 100%; border: 3px #6997F2 solid; overflow: hidden">
                        </div>
                        <div style="float:right; padding-right:10px">
                            <button style="height: 55px; width: 55px;border-radius: 50%;border: 3px solid #6997F2; text-align:center; background:#fff" href="#" ng-click="takePhoto( applicant.id)" ng-if="applicant.picture == ''"><i class="icon ion-person" style="font-size:30px"></i></button>
                            <img ng-src="{{ ((applicant.image_path) ? applicant.image_path:directory) }}/{{ applicant.year }}/{{ applicant.id }}/{{ applicant.picture }}" ng-click="takePhoto({{ applicant.id }})" ng-if="applicant.picture != ''" style="width: 55px; height: auto; border-radius: 100%; border: 3px #6997F2 solid">
                        </div>
                    </div>
                </div>
            </ion-item>
            <br><br>
            <div style="text-align: center" ng-if="applicants.length > numberOfItemsToDisplay"><ion-spinner icon="bubbles"></ion-spinner></div>
            <ion-infinite-scroll on-infinite="addMoreItem()" ng-if="applicants.length > numberOfItemsToDisplay"></ion-infinite-scroll>
        </form>
    </ion-content>
</ion-view>