<ion-view title="{{ user.name }}" id="page7">
    <ion-content padding="true" class="has-header">
    	<div style="text-align:center; padding-top:30px">
    		<h4>{{ user.name }}</h4>
    		<p>{{ user.email }}</p>
    	</div>
    	<div style="text-align:center; padding-top:10px">
    		<button class="button button-positive" ng-click="logout()">
			  	<i class="ion ion-log-out"></i> &nbsp;Log Out & Exit
			</button>
    	</div>
    </ion-content>
</ion-view>